@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
    font-optical-sizing: auto;
  }

  ::selection {
    background: rgba(108, 85, 224, 0.25);
    color: #fff;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #A9B5E1;
    border-radius: 10px;
  }
  html.dark ::-webkit-scrollbar-thumb {
    background: #172560;
  }
}
